.container{
    border-radius: 30px;
    display: flex;
    justify-content: space-between;

    margin-top: 10vh;
    max-width: fill-content;
    width: 30vw;
    height: 25vh;
    margin-left: 20vw;
    margin-right: auto;
    opacity: 0.7;
    background-color: rgb(165, 165, 203);
    padding: 100px;}
img{
    border-radius: 50%;
    border: 5px solid black;
    width: 150px;
    height: 150px;
}