<div class="container">
    <div class="left">
        <div class="pic">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
        </div>
    </div>
    <div class="right">
        <div class="data">
            <h1>PROFILE</h1>
            <p>
                Name: Admin
            </p>
            <p>
                Designation: ADMIN
            </p>
            <p>
                Contact: user&#64;admin.com
            </p>
        </div>

    </div>
</div>