<h1>ARRIVALS</h1>
<table>
	<thead>
	<tr class="table-headers">
    <th>TIME</th>
    <th>FLIGHT</th>
    <th>DESTINATION</th>
    <th>GATE</th>
    <th>REMARKS</th>
	</tr>
	</thead>
	<tbody>
    <tr>
      <td>07:23</td>
      <td>UA411</td>
      <td>NEW YORK</td>
      <td>A17</td>
      <td>ON TIME</td>
    </tr>
    <tr>
      <td>07:52</td>
      <td>LH417</td>
      <td>FRANKFURT</td>
      <td>A26</td>
      <td>ON TIME</td>
    </tr>
    <tr>
      <TD>07:59</TD>
      <TD>AF304</TD>
      <TD>PARIS</TD>
      <TD>C03</TD>
      <TD>ON TIME</TD>
    </tr>
    <tr>
      <td>08:15</td>
      <td>BA394</td>
      <td>LONDON</td>
      <td>B39</td>
      <td>ON TIME</td>
    </tr>
     <tr>
      <td>08:30</td>
      <td>AC495</td>
      <td>TORONTO</td>
      <td>A39</td>
      <td>ON TIME</td>
    </tr>
    <tr>
      <td>8:50</td>
      <td>CA466</td>
      <td>BEIJING</td>
      <td>B41</td>
      <td>DELAYED</td>
    </tr>
     <tr>
      <TD>9:01</TD>
      <TD>JL240</TD>
      <TD>SAO PAULO</TD>
      <TD>C11</TD>
      <TD>ON TIME</TD>
    </tr>
    <tr>
      <td>9:14</td>
      <td>TS106</td>
      <td>TOKYO</td>
      <td>A55</td>
      <td>ON TIME</td>
    </tr>
     <tr>
      <td>9:22</td>
      <td>KH204</td>
      <td>SINGAPORE</td>
      <td>T24</td>
      <td>DELAYED</td>
    </tr>
    <tr>
      <td>9:41</td>
      <td>AZ499</td>
      <td>ROME</td>
      <td>D12</td>
      <td>DELAYED</td>
    </tr>
     <tr>
      <td>9:55</td>
      <td>KB309</td>
      <td>MOSCOW</td>
      <td>B54</td>
      <td>DELAYED</td>
    </tr>
    <tr>
      <td>10:03</td>
      <td>DJ301</td>
      <td>SYDNEY</td>
      <td>C01</td>
      <td>ON TIME</td>
	</tbody>
</table>