<h1>DEPARTURES</h1>
<table>
	<thead>
	<tr class="table-headers">
    <th>TERMINAL</th>
    <th>TIME</th>
    <th>FLIGHT</th>
    <th>DESTINATION</th>
    <th>GATE</th>
    <th>REMARKS</th>
	</tr>
	</thead>
	<tbody>
    <tr>
      <td>2</td>
      <td>07:13</td>
      <td>HR242</td>
      <td>TOKYO</td>
      <td>G18</td>
      <td>DEPARTED</td>
    </tr>
    <tr>
      <td>1</td>
      <td>07:19</td>
      <td>PA131</td>
      <td>MELBOURNE</td>
      <td>F12</td>
      <td>DEPARTED</td>
    </tr>
    <tr>
      <td>3</td>
      <TD>07:44</TD>
      <TD>MA492</TD>
      <TD>MADRID</TD>
      <TD>C22</TD>
      <TD>BOARDING</TD>
    </tr>
    <tr>
      <td>3</td>
      <td>08:01</td>
      <td>MA110</td>
      <td>DUBAI</td>
      <td>H17</td>
      <td>BOARDING</td>
    </tr>
     <tr>
      <td>2</td>
      <td>08:11</td>
      <td>JJ231</td>
      <td>OSLO</td>
      <td>D11</td>
      <td>CHECK-IN</td>
    </tr>
    <tr>
      <td>3</td>
      <td>8:23</td>
      <td>BA331</td>
      <td>ZURICH</td>
      <td>F11</td>
      <td>CHECK-IN</td>
    </tr>
     <tr>
      <td>1</td>
      <TD>8:33</TD>
      <TD>LA031</TD>
      <TD>NEW YORK</TD>
      <TD>B4</TD>
      <TD>CANCELLED</TD>
    </tr>
    <tr>
      <td>2</td>
      <td>8:51</td>
      <td>OP512</td>
      <td>AMSTERDAM</td>
      <td>L12</td>
      <td>BOARDING</td>
    </tr>
     <tr>
      <td>1</td>
      <td>9:12</td>
      <td>JK122</td>
      <td>BARCELONA</td>
      <td>A01</td>
      <td>CHECK-IN</td>
    </tr>
    <tr>
      <td>3</td>
      <td>9:20</td>
      <td>JF204</td>
      <td>LONDON</td>
      <td>L49</td>
      <td>BOARDING</td>
    </tr>
	</tbody>
</table>