<style>
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">13</div>
        <div class="bottom">Locations</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faBriefcase"></fa-icon>
      </div>
      <div class="value">
        <div class="top">5863</div>
        <div class="bottom">Total Bags</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faLuggageCart"></fa-icon>
      </div>
      <div class="value">
        <div class="top">5162</div>
        <div class="bottom">Bags Loaded</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faExclamationTriangle"></fa-icon>
      </div>
      <div class="value">
        <div class="top">701</div>
        <div class="bottom">Bags Lost</div>
      </div>
    </div>
  </div>